<html>
    <head>
        <title>The Best Library EVER</title>
    </head>
    <body>
        <h1>The Best Library EVER</h1>
        <p>
            <a href="/books">Books</a>
        </p>

    </body>
</html>
